body{
    background-color: white;
}

.mainText{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 5vw;
    width: 55%;
    margin: 0 auto;
    margin-top: 5%;
    display: block;
}

.button{
    border: 3px solid black;
    border-radius: 25px;
    font-size: 2vw;
    text-align: center;
    font-family: sans-serif;
    padding: 5px;
}

.button:hover{
    background-color: black;
    cursor: pointer;
    color: white;
    transition: 1s;
}

#reload{
    width: 8%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
}

#info{
    width: 2%;
    position: fixed;
    right: 3%;
    top: 3%;
}

.paragraph{
    display: none;
   top: 30%;
    font-family: sans-serif;
    font-size: 2.7vw;
    
    width: 50%;
    text-align: left;
    position: relative;
    margin: 0 auto;
    transition: 1s;
}

#A1{
    color: #0e7a00;
    display: none;
}
#A2{
    display: none;
    color: #0e7a00
}
#A3{
    display: none;
    color: #0e7a00
}
#A4{
    display: none;
    color: #0e7a00
}
#A5{
    display: none;
    color: #0e7a00
}
#A6{
    display: none;
    color: #0e7a00
}

.black{
    background-color: black;
    color: white;
}