body{
    background-color: #ffa500;
}

.head{
    font-family: dico-mono,mono;
    font-weight: 400;
    font-style: normal;
    position: relative;
    padding-left: 5%;
    margin-top: 30px;
    color: black;
}

.title{
    font-size: 3vw;
    font-weight: 600;
    padding-bottom: 1%;
}

.subtitle{
    font-size: 1.6vw;
    padding-left: 20px;
}

.button{
    font-family: dico-mono,mono;
    font-size: 1.5vw;
    font-style: italic;
    position: relative;
    padding-left: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 11%;;
    color: black
}

a{
    color: black;
    text-decoration: none;

}

a:hover{
    color: white
}


#hidden{
    display: inline;
}

#hidden:hover{
    color: #f5f5f5;
    cursor: pointer;
}

#print{
    color: whitesmoke;
}

#listContainer{
    width: 30%;
    margin-left: 25%;
    margin-top: -15%;
    height: 400px;
    overflow-y: auto;
    -webkit-touch-callout: none;
}


.pictureButton{
    font-family: dico-mono,mono;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    width: 70%;
    
    margin: 0 auto;
    margin-bottom: 30px;;
}

#largeContainer{
    width: 50%;
    height: 80%;
    background-color: chartreuse;
margin-left: 50%;;
    overflow-y: auto;
    text-align: center;
}

#deadhorse{
    padding-top: 10px;
    width: 60%
}

#horrorL{
    padding-top: 10px;
    width: 60%
    
}

.pictureButton:hover{
    cursor: pointer;
    color: whitesmoke;
}

/*ON AND OFF*/

#killerjoe_all{
    display: none;
}

#commandment_all{
    display: none;
}

#gifs_all{
    display: block;
    margin: 0 auto;
}


#killerjoe{
    padding-top: 10px;
    width: 60%;
}

#killerjoe_big{
    width: 110%;
    margin-top: 10px;
    text-align: center;
}

#killerjoe_big2{
    width: 110%;
    margin-top: 10px;
    text-align: center;
}

#deadhorse_big{
    width: 110%;
    margin-top: 10px;
    text-align: center;
}
#horror_big{
    width: 120%;
    padding-top: 10px;
    
}


.details{
    font-family: dico-mono,mono;
    font-size: 1.5vw;
    position: relative;
    text-align: center;
    width: 70%;

    margin-bottom: 30px;
}